/*
  Projet : Portfolio numérique
  Description : Portfolio numérique de Tom SIKORA
  Version : 3.0
  Auteur : Tom SIKORA
*/

@import url('https://fonts.googleapis.com/css2?family=Aoboshi+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300&display=swap');

/*
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-family: 'Aoboshi One', serif;
  font-family: 'Righteous', cursive;
  font-family: 'Jost', sans-serif;
  font-family: 'DM Sans', sans-serif;
*/

/* CSS global */
:root {
  --color-black: #171717; /* Couleur 1 : Noir */
  --color-dark-gray: #303031; /* Couleur 2 : Gris foncé */
  --color-light-gray: #414141; /* Couleur 3 : Gris clair */
  --color-light-green: #9DE62F; /* Couleur 4 : Vert clair */
}

* {
  margin: 0;
  padding: 0;
}

img {
  pointer-events: none;
  user-select: none;
}

a {
  text-decoration: none;
}

/* CSS Éléments */
html {
  width: 100%;
  scroll-behavior: smooth;
  cursor: grab;
}

body {
  margin: 4% 4% 4% 4%;
  background-color: var(--color-black);
}

/* Barre de défilement */
::-webkit-scrollbar {
  width: 12px;
  scrollbar-color: #888 #f1f1f1;
}

::-webkit-scrollbar-track {
  background-color: var(--color-dark-gray);
}

::-webkit-scrollbar-thumb {
  background-color: #888;
}

/* div warning plateforme */
div.plateform_warning {
  display: none;
}

/* div contenu principal */
div.content {
  display: flex;
  width: 100%;
}

/* div informations personnelles */
div.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 20%;
  height: 800px;
  margin-right: 25px;
  padding-top: 50px;
  padding-bottom: 20px;
  background-color: var(--color-dark-gray);
}

div.bord {
  border: 1px solid var(--color-light-gray);
  border-radius: 20px;
}

div.photo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  font-family: 'Plus Jakarta Sans', sans-serif;
  color: white;
  background: linear-gradient(#595959, #515151);
  margin-bottom: -20px;
}

div.photo > img {
  width: 65%;
  height: 100%;
  transform: scaleX(-1);
}

h1.nom {
  font-family: 'Righteous', cursive;
  color: white;
  letter-spacing: 2px;
  margin-bottom: -40px;
}

p.statut {
  width: 50px;
  font-family: 'Aoboshi One', serif;
  color: white;
  font-size: small;
  padding: 2px 15px 2px 15px;
  border-radius: 5px;
  background-color: #434344;
}

div.ligne {
  border: 1px solid #414142;
  width: 80%;
}

div.contact_informations {
  display: flex;
  align-items: center;
  width: 80%;
  height: 20px;
  transition: all 0.5s ease-in-out;
}

div.contact_informations:hover {
  transform: translateX(5px);
}

a > i.bx, button > i.bx {
  font-size: 22px;
  color: var(--color-light-green);
}

div.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background-color: linear-gradient(#262627, #515151);
}

div.logo a, div.logo > button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

div.logo > button {
  background: none;
  border: none;
  cursor: pointer;
}

div.logo:hover {
  border: 1px solid #3a3a3a;
  background-color: var(--color-black);
}

div.texte {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  padding-left: 5%;
}

p.titre {
  font-family: 'Plus Jakarta Sans', sans-serif;
  color: #a0a0a0;
  font-size: x-small;
}

p.lien {
  font-family: 'Plus Jakarta Sans', sans-serif;
  color: white;
  font-weight: 800;
}

p.lien button {
  padding: 1px 7px 1px 7px;
  margin-top: 4px;
  border: none;
  border-radius: 20px;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 700;
  background-color : var(--color-light-green);
  cursor: pointer;
}

/* div A propos de moi */
div.about-me h1, div.about-me p, 
  div.about-me-ligne, div.diplomes,
  div.competences, div.logicielsoutils {
  margin-left: 35px;
  margin-right: 35px;
}

div.about-me {
  width: 80%;
  background-color: var(--color-dark-gray);
}

div.about-me h1 {
  font-family: 'Righteous', cursive;
  color: white;
  letter-spacing: 2px;
  margin-top: 35px;
}

div.about-me p {
  font-family: 'DM Sans', sans-serif;
  font-size: larger;
  text-align: justify;
  color: #A9A9A9;
}

div.about-me p a {
  color: var(--color-light-green);
}

div.about-me-ligne {
  border: 3px solid var(--color-light-green);
  width: 40px;
  border-radius: 3px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* div menu ancres */
div.menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
  height: 70px;
  float: right;
  border-radius: 0 20px 0 20px;
  font-family: 'Jost', sans-serif;
  color: #A9A9A9;
  background-color: var(--color-light-gray);
}

div.menu > h4 {
  position: relative;
}

div.menu > h4::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  border-bottom: 2px solid var(--color-light-green);
  opacity: 0;
  transition: opacity 0.3s;
}

div.menu > h4:hover::after {
  opacity: 1;
}

div.menu > h4 > a {
  text-decoration: none;
  color: #A9A9A9;
}

div.menu > h4 > a:hover {
  color: var(--color-light-green);
}

/* div diplômes */
div.diplomes {
  display: flex;
  height: 150px;
  margin-bottom: 75px;
}

div.diplome {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 30px;
  border-radius: 20px;
  background-color: #292929;
  box-shadow: 4px 4px 1px rgba(0, 0, 0, 0.5);
  transition: transform 1s ease-in-out;
}

div.diplome:hover {
  animation: inclinaison 1s ease-in-out 1;
}

@keyframes inclinaison {
  0% {
    transform: rotate(0deg);
  } 25% {
    transform: rotate(-2deg);
  } 75% {
    transform: rotate(2deg);
  } 100% {
    transform: rotate(0deg);
  }
}

div.diplome h2 {
  font-family: 'Jost', sans-serif;
  letter-spacing: 2px;
  color: white;
  cursor: pointer;
}

div.diplome p {
  font-family: 'DM Sans', sans-serif;
  font-size: smaller;
  color: #A9A9A9;
}

div.diplome-bloc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.mention {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: var(--color-light-green);
}

div.mention > p {
  width: 100%;
  height: 100%;
  font-size: large;
  color: black;
  font-family: 'Jost', sans-serif;
}

/* div competences */
div.competences {
  display: flex;
  flex-wrap: wrap;
  height: 300px;
}

div.competence {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100% / 3);
  height: calc(100% / 4);
}

div.competence > h3 {
  font-family: 'Jost', sans-serif;
  letter-spacing: 2px;
  color: white;
}

div.jauge {
  width: 200px;
  height: 17px;
  background-color: #292929;
  border: 7px solid #292929;
  position: relative;
  border-radius: 20px;
  cursor: pointer;
}

div.niveau {
  height: 100%;
  background-color: var(--color-light-green);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
}

div.niveau:hover {
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  } 50% {
    transform: scale(1.04);
  } 100% {
    transform: scale(1);
  }
}

span.label {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: smaller;
  font-family: 'Jost', sans-serif;
  transform: translate(-50%, -50%);
}

/* div logiciels et outils */
div.logicielsoutils {
  height: 195px;
  margin-top: 20px;
  margin-bottom: 70px;
}

div.logicielsoutils_title {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 50%;
}

div.logicielsoutils_title_bloc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: -35px;
}

div.logicielsoutils_title_bloc > h1 {
  margin-bottom: -10px;
}

div.logicielsoutils_title_bloc > div {
  width: 80px;
  margin-bottom: 50px;
}

div.logicielsoutils_content {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 50%;
}

div.logicielsoutils_content > div {
  display: flex;
  align-items: center;
  border-radius: 10px;
  background-color: var(--color-light-gray);
}

div.logicielsoutils_content > div > img {
  height: 80px;
  padding: 15px;
}

/* div réalisations */
div.realisations {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  margin-bottom: 35px;
}

/* div carrousel */
div.carousel {
  width: 90%;
  height: 90%;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  background-color: #171717;
}

div.carousel-inner {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

button.carousel-button {
  width: 10%;
  height: 100%;
  top: 50%;
  position: absolute;
  border: none;
  background: none;
  cursor: pointer;
  z-index: 1;
  transform: translateY(-50%);
}

button.carousel-prev {
  left: 0;
}

button.carousel-next {
  right: 0;
}

button.carousel-button > i.bx {
  color: #A9A9A9;
  font-size: 60px;
}

div.carousel-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  min-width: 100%;
  filter: blur(0px);
}

div.carousel-item > img {
  height: 100%;
  position: absolute;
  transition: filter 0.3s ease;
}

div.carousel-item:hover > img {
  filter: blur(6px);
}

div.carousel-item > div.item-text {
  display: none;
  position: absolute;
}

div.carousel-item:hover > div.item-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.item-text > h2 {
  margin-bottom: 40px;
  font-family: 'DM Sans', sans-serif;
  font-weight: bold;
  font-size: 40px;
  text-shadow:
    -1px -1px 1px rgba(0, 0, 0, 0.5),
    1px -1px 1px rgba(0, 0, 0, 0.5),
    -1px 1px 1px rgba(0, 0, 0, 0.5),
    1px 1px 1px rgba(0, 0, 0, 0.5);
}

div.item-text > h2 > a {
  color: white;
}

div.item-text > h2 > a:hover {
  color: var(--color-light-green);
}

div.item-text > p {
  width: 75%;
  margin: 0;
  font-size: 22px;
  text-shadow:
    -1px -1px 1px rgba(0, 0, 0, 0.5),
    1px -1px 1px rgba(0, 0, 0, 0.5),
    -1px 1px 1px rgba(0, 0, 0, 0.5),
    1px 1px 1px rgba(0, 0, 0, 0.5);
  color: white;
}

div.item-langages {
  display: flex;
  width: 75%;
  margin-top: 30px;
}

div.item-langages > h3 {
  margin-right: 10px;
  font-family: 'DM Sans', sans-serif;
  font-size: 20px;
  text-shadow:
    -1px -1px 1px rgba(0, 0, 0, 0.5),
    1px -1px 1px rgba(0, 0, 0, 0.5),
    -1px 1px 1px rgba(0, 0, 0, 0.5),
    1px 1px 1px rgba(0, 0, 0, 0.5);
  color: white;
}

div.item-langages > p {
  margin: 0 15px 0 0;
  padding: 1px 7px 1px 7px;
  border: none;
  border-radius: 20px;
  font-family: 'Jost', sans-serif;
  font-size: 18px;
  color: black;
  background-color : var(--color-light-green);
}

/* Large screen */
@media (min-width: 2560px) {
  /* div informations personnelles */
  div.contact {
    width: 15%;
    height: 900px;
  }
  
  div.about-me {
    width: 85%;
  }

  div.about-me h1 {
    font-size: 40px;
  }

  div.about-me p {
    font-size: x-large;
  }

  div.photo {
    width: 250px;
    height: 250px;
    margin-bottom: 0;
  }

  h1.nom {
    font-size: 35px;
    margin-bottom: -20px;
  }

  p.statut {
    width: 70px;
    font-size: large;
  }

  div.contact_informations {
    height: 45px;
  }

  div.logo {
    width: 47px;
    height: 47px;
  }

  a > i.bx, button > i.bx {
    font-size: 25px;
  }

  p.titre {
    font-size: 13px;
  }

  p.lien {
    font-size: 17px;
  }

  p.lien button {
    font-size: 17px;
  }

  /* div menu ancres */
  div.menu > h4 {
    font-size: x-large;
  }

  /* div diplômes */
  div.diplomes {
    height: 200px;
  }

  /* div competences */
  div.competence > h3 {
    font-size: 25px;
  }

  div.jauge {
    height: 20px;
  }

  span.label {
    font-size: 18px;
  }

  /* div logiciels et outils */
  div.logicielsoutils_content > div {
    height: 130px;
  }

  div.logicielsoutils_content > div > img {
    height: 100px;
  }

  /* div réalisations */
  div.realisations {
    height: 700px;
    margin-bottom: 50px;
  }

  div.item-text > h2 {
    font-size: 50px;
  }

  div.item-text > p {
    font-size: 25px;
  }

  div.item-langages > h3 {
    font-size: 25px;
  }
}

/* Desktop screen */
@media (min-width: 1601px) and (max-width: 2559px) {
  /* div informations personnelles */
  p.titre {
    font-size: 10px;
  }
  
  p.lien {
    font-size: 13px;
  }

  /* div menu ancres */
  div.menu > h4 {
    font-size: 14px;
  }
  
  /* div a propos de moi */
  div.about-me p {
    font-size: 17px;
  }
  
  /* div diplômes */
  div.diplome h2 {
    font-size: 20px;
  }

  div.diplome p {
    font-size: 13px;
  }

  /* div logiciels et outils */
  div.logicielsoutils {
    height: 175px;
  }

  div.logicielsoutils_content > div > img {
    height: 60px;
  }
}

/* Laptop screen M */
@media (min-width: 1441px) and (max-width: 1600px) {
  /* div informations personnelles */
  div.photo {
    width: 175px;
    height: 175px;
  }
  
  h1.nom {
    font-size: 23px;
  }

  p.statut {
    font-size: 12px;
  }

  p.titre {
    font-size: 10px;
  }
  
  p.lien {
    font-size: 12px;
  }

  div.logo {
    width: 35px;
    height: 35px;
  }

  a > i.bx, button > i.bx {
    font-size: 18px;
  }

  /* div menu ancres */
  div.menu {
    height: 55px;
  }

  div.menu > h4 {
    font-size: 14px;
  }
  
  /* div a propos de moi */
  div.about-me h1 {
    font-size: 25px;
  }
  
  div.about-me p {
    font-size: 15px;
  }
  
  /* div diplômes */
  div.diplomes {
    height: 125px;
  }

  div.diplome h2 {
    font-size: 18px;
  }

  div.diplome p {
    font-size: 10.5px;
  }
  
  /* div compétences */
  div.competence > h3 {
    font-size: 16px;
  }

  div.jauge {
    height: 15px;
  }

  span.label {
    font-size: 12.5px;
  }

  /* div logiciels et outils */
  div.logicielsoutils {
    height: 150px;
  }

  div.logicielsoutils_content > div > img {
    height: 50px;
  }

  /* div réalisations */
  div.realisations {
    height: 420px;
  }
  
  div.carousel-item > img {
    width: 80%;
  }
}

/* Laptop screen L */
@media (min-width: 1025px) and (max-width: 1440px) {
  /* div informations personnelles */
  div.contact {
    width: 25%;
    height: 650px;
  }

  div.photo {
    width: 150px;
    height: 150px;
  }
  
  h1.nom {
    margin-bottom: -30px;
    font-size: 20px;
  }
  
  p.statut {
    width: 40px;
    font-size: 10px;
  }

  p.titre {
    font-size: 7px;
  }
  
  p.lien {
    font-size: 10px;
  }

  div.logo {
    width: 32px;
    height: 32px;
  }

  a > i.bx, button > i.bx {
    font-size: 16px;
  }

  /* div menu ancres */
  div.menu {
    height: 40px;
  }

  div.menu > h4 {
    font-size: 9px;
  }
  
  /* div a propos de moi */
  div.about-me {
    width: 75%;
  }
  
  div.about-me h1 {
    font-size: 19px;
  }
  
  div.about-me p {
    font-size: 11px;
  }

  div.about-me-ligne {
    width: 30px;
  }
  
  /* div diplômes */
  div.diplomes {
    height: 100px;
    margin-bottom: 42px;
  }

  div.diplome {
    margin: 15px;
  }

  div.diplome h2 {
    font-size: 13px;
  }

  div.diplome p {
    margin: 0;
    font-size: 9px;
  }

  div.mention > p {
    margin-left: 6px;
    margin-right: 6px;
  }
  
  /* div compétences */
  div.competence > h3 {
    font-size: 12px;
  }

  div.jauge {
    width: 110px;
    height: 10px;
  }

  span.label {
    font-size: 8px;
  }

  /* div logiciels et outils */
  div.logicielsoutils {
    height: 100px;
    margin-bottom: 25px;
  }

  div.logicielsoutils_content > div > img {
    height: 28px;
  }

  /* div réalisations */
  div.realisations {
    height: 240px;
  }

  button.carousel-button > i.bx {
    font-size: 27px;
  }
}

/* Laptop screen */
@media (min-width: 769px) and (max-width: 1024px) {
  /* div informations personnelles */
  div.contact {
    width: 25%;
    height: 500px;
    padding-bottom: 0;
  }

  div.contact_informations {
    margin-top: -20px;
    margin-bottom: -20px;
  }

  div.photo {
    width: 120px;
    height: 120px;
    margin-top: -50px;
  }
  
  h1.nom {
    margin-bottom: -50px;
    font-size: 14px;
  }
  
  p.statut {
    width: 30px;
    font-size: 7px;
  }

  p.titre {
    font-size: 6px;
  }
  
  p.lien {
    font-size: 7px;
  }

  div.logo {
    width: 20px;
    height: 20px;
    border-radius: 4px;
  }

  a > i.bx, button > i.bx {
    font-size: 12px;
  }

  /* div menu ancres */
  div.menu {
    height: 30px;
  }

  div.menu > h4 {
    font-size: 7px;
  }
  
  /* div a propos de moi */
  div.about-me {
    width: 75%;
  }
  
  div.about-me h1 {
    font-size: 16px;
  }
  
  div.about-me p {
    font-size: 8px;
  }

  div.about-me-ligne {
    width: 26px;
  }
  
  /* div diplômes */
  div.diplomes {
    height: 80px;
    margin-bottom: 42px;
  }

  div.diplome {
    margin: 15px;
  }

  div.diplome h2 {
    font-size: 8px;
  }

  div.diplome p {
    margin: 0;
    font-size: 6px;
  }

  div.mention > p {
    margin-left: 6px;
    margin-right: 6px;
  }
  
  /* div compétences */
  div.competences {
    height: 290px;
  }

  div.competence > h3 {
    font-size: 10px;
  }

  div.jauge {
    width: 90px;
    height: 7px;
  }

  span.label {
    font-size: 6px;
  }

  /* div logiciels et outils */
  div.logicielsoutils {
    height: 80px;
    margin-bottom: 25px;
  }

  div.logicielsoutils_title_bloc > div {
    width: 30px;
  }

  div.logicielsoutils_content > div > img {
    height: 25px;
    padding: 8px;
  }

  /* div réalisations */
  div.realisations {
    height: 180px;
    margin-bottom: 15px;
  }

  button.carousel-button > i.bx {
    font-size: 25px;
  }
}

/* Tablette screen */
@media (min-width: 426px) and (max-width: 768px) {
  
}
