@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    display: none;             /* WebKit */
    -ms-overflow-style: none;  /* Internet Explorer et Edge */
    scrollbar-width: none;     /* Firefox */
}

img {
    user-select: none;
    pointer-events: none;
    -webkit-user-drag: none;
}
